<a href="https://colab.research.google.com/github/Leonanda1013/DataLoverz/blob/main/Competition/Arkavidia/Arkavidia_DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
kolom_penting = [
    'pm10',
    'so2',
    'co',
    'o3',
    'no2'
]

In [4]:
kolom_numerik_pm25 = [
    'pm10', 'pm25', 'co', 'o3', 'so2', 'no2', 'max'
]

kolom_numerik = [
    'pm10', 'co', 'o3', 'so2', 'no2', 'max'
]

In [163]:
# kategorik
kolom_kategori = ['stasiun', 'critical', 'kategori']

# Lihat Info Kolom

In [5]:
ISPU1 = pd.read_csv('/content/drive/MyDrive/DATASET/penyisihan-datavidia-10/ISPU/data-indeks-standar-pencemar-udara-(ispu)-di-provinsi-dki-jakarta-2023-komponen-data.csv')
ISPU1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1825 entries, 0 to 1824
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   periode_data               1825 non-null   int64
 1   tanggal                    1825 non-null   object
 2   stasiun                    1825 non-null   object
 3   pm_sepuluh                 1825 non-null   object
 4   pm_duakomalima             1825 non-null   object
 5   sulfur_dioksida            1825 non-null   object
 6   karbon_monoksida           1825 non-null   object
 7   ozon                       1825 non-null   object
 8   nitrogen_dioksida          1825 non-null   object
 9   max                        1825 non-null   object
 10  parameter_pencemar_kritis  1812 non-null   object
 11  kategori                   1825 non-null   object
dtypes: int64(1), object(11)
memory usage: 171.2+ KB

In [135]:
ISPU1

,periode_data,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max,parameter_pencemar_kritis,kategori
0,202302,2023-02-25,DKI5 Kebon Jeruk Jakarta Barat,35,-,13,12,31,18,35,PM10,BAIK
1,202302,2023-02-26,DKI5 Kebon Jeruk Jakarta Barat,23,-,14,9,32,11,32,O3,BAIK
2,202302,2023-02-27,DKI5 Kebon Jeruk Jakarta Barat,20,-,13,8,33,13,33,O3,BAIK
3,202302,2023-02-28,DKI5 Kebon Jeruk Jakarta Barat,30,-,21,11,28,18,30,PM10,BAIK
4,202303,2023-03-01,DKI1 Bunderan HI,38,44,50,8,19,27,50,3,BAIK
...,...,...,...,...,...,...,...,...,...,...,...,...
1820,202311,2023-11-26,DKI5 Kebon Jeruk,48,71,33,21,44,20,71,PM25,SEDANG
1821,202311,2023-11-27,DKI5 Kebon Jeruk,51,76,32,18,53,19,76,PM25,SEDANG
1822,202311,2023-11-28,DKI5 Kebon Jeruk,56,88,33,20,48,21,88,PM25,SEDANG
1823,202311,2023-11-29,DKI5 Kebon Jeruk,56,88,32,18,56,18,88,PM25,SEDANG
1824,202311,2023-11-30,DKI5 Kebon Jeruk,30,57,32,15,61,17,61,O3,SEDANG

In [6]:
ISPU2 = pd.read_csv('/content/drive/MyDrive/DATASET/penyisihan-datavidia-10/ISPU/data-indeks-standar-pencemar-udara-(ispu)-di-provinsi-dki-jakarta-komponen-data-2024.csv')
ISPU2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1830 entries, 0 to 1829
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   periode_data               1830 non-null   int64
 1   bulan                      1830 non-null   int64
 2   tanggal                    1830 non-null   int64
 3   stasiun                    1830 non-null   object
 4   pm_sepuluh                 1718 non-null   float64
 5   pm_duakomalima             1810 non-null   float64
 6   sulfur_dioksida            1821 non-null   float64
 7   karbon_monoksida           1818 non-null   float64
 8   ozon                       1821 non-null   float64
 9   nitrogen_dioksida          1804 non-null   float64
 10  max                        1825 non-null   float64
 11  parameter_pencemar_kritis  1784 non-null   object
 12  kategori                   1830 non-null   object
dtypes: float64(7), int64(3), object(3)
memory usage: 186.0+ KB

In [136]:
ISPU2

,periode_data,bulan,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max,parameter_pencemar_kritis,kategori
0,202401,1,21,DKI3 Jagakarsa,51.0,65.0,45.0,9.0,8.0,79.0,79.0,NaN,SEDANG
1,202401,1,22,DKI3 Jagakarsa,27.0,34.0,45.0,5.0,8.0,56.0,56.0,NaN,SEDANG
2,202401,1,23,DKI3 Jagakarsa,NaN,52.0,46.0,6.0,9.0,51.0,52.0,PM25,SEDANG
3,202401,1,24,DKI3 Jagakarsa,46.0,65.0,46.0,8.0,9.0,38.0,65.0,PM25,SEDANG
4,202401,1,25,DKI3 Jagakarsa,37.0,55.0,47.0,7.0,11.0,28.0,55.0,PM25,SEDANG
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1825,202412,12,27,DKI5 Kebon Jeruk Jakarta Barat,NaN,55.0,27.0,9.0,30.0,12.0,55.0,PM25,SEDANG
1826,202412,12,28,DKI5 Kebon Jeruk Jakarta Barat,NaN,40.0,26.0,6.0,30.0,12.0,40.0,PM25,BAIK
1827,202412,12,29,DKI5 Kebon Jeruk Jakarta Barat,NaN,51.0,32.0,8.0,28.0,11.0,51.0,PM25,SEDANG
1828,202412,12,30,DKI5 Kebon Jeruk Jakarta Barat,NaN,34.0,9.0,5.0,38.0,8.0,38.0,O3,BAIK
1829,202412,12,31,DKI5 Kebon Jeruk Jakarta Barat,NaN,26.0,9.0,3.0,26.0,3.0,26.0,PM25,BAIK

In [7]:
ISPU3 = pd.read_csv('/content/drive/MyDrive/DATASET/penyisihan-datavidia-10/ISPU/data-indeks-standar-pencemar-udara-(ispu)-di-provinsi-dki-jakarta-komponen-data-2025.csv')
ISPU3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1215 entries, 0 to 1214
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   periode_data               1215 non-null   int64
 1   bulan                      1215 non-null   int64
 2   tanggal                    1215 non-null   int64
 3   stasiun                    1215 non-null   object
 4   pm_sepuluh                 1141 non-null   float64
 5   pm_duakomalima             1182 non-null   float64
 6   sulfur_dioksida            1171 non-null   float64
 7   karbon_monoksida           1183 non-null   float64
 8   ozon                       1181 non-null   float64
 9   nitrogen_dioksida          1175 non-null   float64
 10  max                        1213 non-null   float64
 11  parameter_pencemar_kritis  1199 non-null   object
 12  kategori                   1215 non-null   object
dtypes: float64(7), int64(3), object(3)
memory usage: 123.5+ KB

In [8]:
ISPU4 = pd.read_csv('/content/drive/MyDrive/DATASET/penyisihan-datavidia-10/ISPU/indeks-standar-pencemaran-udara-(ispu)-tahun-2010-komponen-data.csv')
ISPU4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1825 entries, 0 to 1824
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  1825 non-null   int64
 1   tanggal       1825 non-null   object
 2   stasiun       1825 non-null   object
 3   pm10          1825 non-null   object
 4   so2           1825 non-null   object
 5   co            1825 non-null   object
 6   o3            1825 non-null   object
 7   no2           1825 non-null   object
 8   max           1825 non-null   int64
 9   critical      523 non-null    object
 10  categori      1825 non-null   object
dtypes: int64(2), object(9)
memory usage: 157.0+ KB

In [9]:
ISPU5 = pd.read_csv('/content/drive/MyDrive/DATASET/penyisihan-datavidia-10/ISPU/indeks-standar-pencemaran-udara-(ispu)-tahun-2011-komponen-data.csv')
ISPU5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  365 non-null    int64
 1   tanggal       365 non-null    object
 2   pm10          365 non-null    int64
 3   so2           365 non-null    int64
 4   co            365 non-null    int64
 5   o3            365 non-null    int64
 6   no2           365 non-null    int64
 7   max           365 non-null    int64
 8   critical      365 non-null    object
 9   categori      365 non-null    object
 10  lokasi_spku   365 non-null    object
dtypes: int64(7), object(4)
memory usage: 31.5+ KB

In [10]:
ISPU6 = pd.read_csv('/content/drive/MyDrive/DATASET/penyisihan-datavidia-10/ISPU/indeks-standar-pencemaran-udara-(ispu)-tahun-2012-komponen-data.csv')
ISPU6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  366 non-null    int64
 1   tanggal       366 non-null    object
 2   pm10          366 non-null    int64
 3   so2           366 non-null    int64
 4   co            366 non-null    int64
 5   o3            366 non-null    int64
 6   no2           366 non-null    int64
 7   max           366 non-null    int64
 8   critical      366 non-null    object
 9   categori      366 non-null    object
 10  lokasi_spku   366 non-null    object
dtypes: int64(7), object(4)
memory usage: 31.6+ KB

In [11]:
ISPU7 = pd.read_csv('/content/drive/MyDrive/DATASET/penyisihan-datavidia-10/ISPU/indeks-standar-pencemaran-udara-(ispu)-tahun-2013-komponen-data.csv')
ISPU7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  365 non-null    int64
 1   tanggal       365 non-null    object
 2   pm10          365 non-null    int64
 3   so2           365 non-null    int64
 4   co            365 non-null    int64
 5   o3            365 non-null    int64
 6   no2           365 non-null    int64
 7   max           365 non-null    int64
 8   critical      365 non-null    object
 9   categori      365 non-null    object
 10  lokasi_spku   365 non-null    object
dtypes: int64(7), object(4)
memory usage: 31.5+ KB

In [12]:
ISPU8 = pd.read_csv('/content/drive/MyDrive/DATASET/penyisihan-datavidia-10/ISPU/indeks-standar-pencemaran-udara-(ispu)-tahun-2014-komponen-data.csv')
ISPU8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1825 entries, 0 to 1824
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  1825 non-null   int64
 1   tanggal       1825 non-null   object
 2   stasiun       1825 non-null   object
 3   pm10          1825 non-null   object
 4   so2           1825 non-null   object
 5   co            1825 non-null   object
 6   o3            1825 non-null   object
 7   no2           1825 non-null   object
 8   max           1825 non-null   int64
 9   critical      1791 non-null   object
 10  categori      1825 non-null   object
dtypes: int64(2), object(9)
memory usage: 157.0+ KB

In [13]:
ISPU9 = pd.read_csv('/content/drive/MyDrive/DATASET/penyisihan-datavidia-10/ISPU/indeks-standar-pencemaran-udara-(ispu)-tahun-2015-komponen-data.csv')
ISPU9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  365 non-null    int64
 1   tanggal       365 non-null    object
 2   pm10          365 non-null    int64
 3   so2           365 non-null    int64
 4   co            365 non-null    int64
 5   o3            365 non-null    int64
 6   no2           365 non-null    int64
 7   max           365 non-null    int64
 8   critical      365 non-null    object
 9   categori      365 non-null    object
 10  lokasi_spku   365 non-null    object
dtypes: int64(7), object(4)
memory usage: 31.5+ KB

In [14]:
ISPU10 = pd.read_csv('/content/drive/MyDrive/DATASET/penyisihan-datavidia-10/ISPU/indeks-standar-pencemaran-udara-(ispu)-tahun-2016-komponen-data.csv')
ISPU10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1830 entries, 0 to 1829
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  1830 non-null   int64
 1   tanggal       1830 non-null   object
 2   stasiun       1830 non-null   object
 3   pm10          1830 non-null   object
 4   so2           1830 non-null   object
 5   co            1830 non-null   object
 6   o3            1830 non-null   object
 7   no2           1830 non-null   object
 8   max           1830 non-null   int64
 9   critical      1793 non-null   object
 10  categori      1830 non-null   object
dtypes: int64(2), object(9)
memory usage: 157.4+ KB

In [15]:
ISPU11 = pd.read_csv('/content/drive/MyDrive/DATASET/penyisihan-datavidia-10/ISPU/indeks-standar-pencemaran-udara-(ispu)-tahun-2017-komponen-data.csv')
ISPU11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1825 entries, 0 to 1824
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  1825 non-null   int64
 1   tanggal       1825 non-null   object
 2   stasiun       1825 non-null   object
 3   pm10          1825 non-null   object
 4   so2           1825 non-null   object
 5   co            1825 non-null   object
 6   o3            1825 non-null   object
 7   no2           1825 non-null   object
 8   max           1825 non-null   object
 9   critical      1800 non-null   object
 10  categori      1825 non-null   object
dtypes: int64(1), object(10)
memory usage: 157.0+ KB

In [16]:
ISPU12 = pd.read_csv('/content/drive/MyDrive/DATASET/penyisihan-datavidia-10/ISPU/indeks-standar-pencemaran-udara-(ispu)-tahun-2018-komponen-data.csv')
ISPU12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  365 non-null    int64
 1   tanggal       365 non-null    object
 2   pm10          365 non-null    int64
 3   so2           365 non-null    int64
 4   co            365 non-null    int64
 5   o3            365 non-null    int64
 6   no2           365 non-null    int64
 7   max           365 non-null    int64
 8   critical      365 non-null    object
 9   categori      365 non-null    object
 10  lokasi_spku   365 non-null    object
dtypes: int64(7), object(4)
memory usage: 31.5+ KB

In [17]:
ISPU13 = pd.read_csv('/content/drive/MyDrive/DATASET/penyisihan-datavidia-10/ISPU/indeks-standar-pencemaran-udara-(ispu)-tahun-2019-komponen-data.csv')
ISPU13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  345 non-null    int64
 1   tanggal       345 non-null    object
 2   pm10          345 non-null    int64
 3   so2           345 non-null    int64
 4   co            345 non-null    int64
 5   o3            345 non-null    int64
 6   no2           345 non-null    int64
 7   max           345 non-null    int64
 8   critical      345 non-null    object
 9   categori      345 non-null    object
 10  lokasi_spku   345 non-null    object
dtypes: int64(7), object(4)
memory usage: 29.8+ KB

In [18]:
ISPU14 = pd.read_csv('/content/drive/MyDrive/DATASET/penyisihan-datavidia-10/ISPU/indeks-standar-pencemaran-udara-(ispu)-tahun-2020-komponen-data.csv')
ISPU14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  366 non-null    int64
 1   tanggal       366 non-null    object
 2   pm10          366 non-null    int64
 3   so2           366 non-null    object
 4   co            366 non-null    object
 5   o3            366 non-null    int64
 6   no2           366 non-null    int64
 7   max           366 non-null    int64
 8   critical      365 non-null    object
 9   categori      366 non-null    object
 10  lokasi_spku   366 non-null    object
dtypes: int64(5), object(6)
memory usage: 31.6+ KB

In [19]:
ISPU15 = pd.read_csv('/content/drive/MyDrive/DATASET/penyisihan-datavidia-10/ISPU/indeks-standar-pencemaran-udara-(ispu)-tahun-2021-komponen-data.csv')
ISPU15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1825 entries, 0 to 1824
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  1825 non-null   int64
 1   tanggal       1825 non-null   object
 2   stasiun       1825 non-null   object
 3   pm10          1825 non-null   object
 4   pm25          1763 non-null   object
 5   so2           1825 non-null   object
 6   co            1825 non-null   object
 7   o3            1825 non-null   object
 8   no2           1825 non-null   object
 9   max           1825 non-null   object
 10  critical      1809 non-null   object
 11  categori      1824 non-null   object
dtypes: int64(1), object(11)
memory usage: 171.2+ KB

In [20]:
ISPU16 = pd.read_csv('/content/drive/MyDrive/DATASET/penyisihan-datavidia-10/ISPU/indeks-standar-pencemaran-udara-(ispu)-tahun-2022-komponen-data.csv')
ISPU16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   periode_data    365 non-null    int64
 1   tanggal         365 non-null    object
 2   pm_10           365 non-null    int64
 3   pm_duakomalima  365 non-null    int64
 4   so2             365 non-null    int64
 5   co              365 non-null    int64
 6   o3              365 non-null    int64
 7   no2             365 non-null    int64
 8   max             365 non-null    int64
 9   critical        364 non-null    object
 10  categori        365 non-null    object
 11  lokasi_spku     365 non-null    object
dtypes: int64(8), object(4)
memory usage: 34.3+ KB

# Drop NULL

ISPU 1 tahun bulan tanggal dipisah

In [21]:
ISPU1.head()

,periode_data,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max,parameter_pencemar_kritis,kategori
0,202302,2023-02-25,DKI5 Kebon Jeruk Jakarta Barat,35,-,13,12,31,18,35,PM10,BAIK
1,202302,2023-02-26,DKI5 Kebon Jeruk Jakarta Barat,23,-,14,9,32,11,32,O3,BAIK
2,202302,2023-02-27,DKI5 Kebon Jeruk Jakarta Barat,20,-,13,8,33,13,33,O3,BAIK
3,202302,2023-02-28,DKI5 Kebon Jeruk Jakarta Barat,30,-,21,11,28,18,30,PM10,BAIK
4,202303,2023-03-01,DKI1 Bunderan HI,38,44,50,8,19,27,50,3,BAIK

In [22]:
ISPU1_not_null = ISPU1.rename(columns={'pm_sepuluh': 'pm10',
                              'pm_duakomalima':'pm25',
                              'sulfur_dioksida': 'so2',
                              'karbon_monoksida': 'co',
                              'ozon': 'o3',
                              'nitrogen_dioksida': 'no2',
                              'parameter_pencemar_kritis':'critical'}
                              )
ISPU1_not_null.head()

,periode_data,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,kategori
0,202302,2023-02-25,DKI5 Kebon Jeruk Jakarta Barat,35,-,13,12,31,18,35,PM10,BAIK
1,202302,2023-02-26,DKI5 Kebon Jeruk Jakarta Barat,23,-,14,9,32,11,32,O3,BAIK
2,202302,2023-02-27,DKI5 Kebon Jeruk Jakarta Barat,20,-,13,8,33,13,33,O3,BAIK
3,202302,2023-02-28,DKI5 Kebon Jeruk Jakarta Barat,30,-,21,11,28,18,30,PM10,BAIK
4,202303,2023-03-01,DKI1 Bunderan HI,38,44,50,8,19,27,50,3,BAIK

In [23]:
ISPU1_not_null= ISPU1_not_null.replace('-',np.nan)
ISPU1_not_null.isnull().sum()

periode_data      0
tanggal           0
stasiun           0
pm10            222
pm25            295
so2              39
co               43
o3               28
no2              66
max               3
critical         21
kategori          0
dtype: int64

In [24]:
ISPU1_not_null = ISPU1_not_null.dropna(subset=kolom_penting)

In [25]:
ISPU1_not_null.isnull().sum()

periode_data      0
tanggal           0
stasiun           0
pm10              0
pm25            250
so2               0
co                0
o3                0
no2               0
max               0
critical          0
kategori          0
dtype: int64

ISPU 2 tahun bulan tanggal dipisah(tahun masuh periode_data)

In [26]:
ISPU2.head()

,periode_data,bulan,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max,parameter_pencemar_kritis,kategori
0,202401,1,21,DKI3 Jagakarsa,51.0,65.0,45.0,9.0,8.0,79.0,79.0,NaN,SEDANG
1,202401,1,22,DKI3 Jagakarsa,27.0,34.0,45.0,5.0,8.0,56.0,56.0,NaN,SEDANG
2,202401,1,23,DKI3 Jagakarsa,NaN,52.0,46.0,6.0,9.0,51.0,52.0,PM25,SEDANG
3,202401,1,24,DKI3 Jagakarsa,46.0,65.0,46.0,8.0,9.0,38.0,65.0,PM25,SEDANG
4,202401,1,25,DKI3 Jagakarsa,37.0,55.0,47.0,7.0,11.0,28.0,55.0,PM25,SEDANG

In [27]:
ISPU2_not_null = ISPU2.rename(columns={'pm_sepuluh': 'pm10',
                              'pm_duakomalima':'pm25',
                              'sulfur_dioksida': 'so2',
                              'karbon_monoksida': 'co',
                              'ozon': 'o3',
                              'nitrogen_dioksida': 'no2',
                              'parameter_pencemar_kritis':'critical'}
                              )
ISPU2_not_null.head()

,periode_data,bulan,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,kategori
0,202401,1,21,DKI3 Jagakarsa,51.0,65.0,45.0,9.0,8.0,79.0,79.0,NaN,SEDANG
1,202401,1,22,DKI3 Jagakarsa,27.0,34.0,45.0,5.0,8.0,56.0,56.0,NaN,SEDANG
2,202401,1,23,DKI3 Jagakarsa,NaN,52.0,46.0,6.0,9.0,51.0,52.0,PM25,SEDANG
3,202401,1,24,DKI3 Jagakarsa,46.0,65.0,46.0,8.0,9.0,38.0,65.0,PM25,SEDANG
4,202401,1,25,DKI3 Jagakarsa,37.0,55.0,47.0,7.0,11.0,28.0,55.0,PM25,SEDANG

In [28]:
ISPU2_not_null = ISPU2_not_null.replace('-', np.nan)
ISPU2_not_null.isnull().sum()

periode_data      0
bulan             0
tanggal           0
stasiun           0
pm10            112
pm25             20
so2               9
co               12
o3                9
no2              26
max               5
critical         46
kategori          0
dtype: int64

In [29]:
ISPU2_not_null = ISPU2_not_null.dropna(subset=kolom_penting)
ISPU2_not_null.isnull().sum()

periode_data     0
bulan            0
tanggal          0
stasiun          0
pm10             0
pm25             7
so2              0
co               0
o3               0
no2              0
max              0
critical        39
kategori         0
dtype: int64

sama ISPU2

In [30]:
ISPU3.head()

,periode_data,bulan,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max,parameter_pencemar_kritis,kategori
0,202504,4,24,DKI5 Kebon Jeruk,16.0,50.0,18.0,3.0,16.0,4.0,50.0,PM25,BAIK
1,202504,4,25,DKI5 Kebon Jeruk,23.0,81.0,19.0,9.0,24.0,3.0,81.0,PM25,SEDANG
2,202504,4,26,DKI5 Kebon Jeruk,30.0,77.0,20.0,11.0,29.0,3.0,77.0,PM25,SEDANG
3,202504,4,27,DKI5 Kebon Jeruk,31.0,85.0,21.0,12.0,47.0,4.0,85.0,PM25,SEDANG
4,202504,4,28,DKI5 Kebon Jeruk,24.0,78.0,20.0,9.0,37.0,4.0,78.0,PM25,SEDANG

In [31]:
ISPU3_not_null = ISPU3.rename(columns={'pm_sepuluh': 'pm10',
                              'pm_duakomalima':'pm25',
                              'sulfur_dioksida': 'so2',
                              'karbon_monoksida': 'co',
                              'ozon': 'o3',
                              'nitrogen_dioksida': 'no2',
                              'parameter_pencemar_kritis':'critical'}
                              )
ISPU3_not_null.head()

,periode_data,bulan,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,kategori
0,202504,4,24,DKI5 Kebon Jeruk,16.0,50.0,18.0,3.0,16.0,4.0,50.0,PM25,BAIK
1,202504,4,25,DKI5 Kebon Jeruk,23.0,81.0,19.0,9.0,24.0,3.0,81.0,PM25,SEDANG
2,202504,4,26,DKI5 Kebon Jeruk,30.0,77.0,20.0,11.0,29.0,3.0,77.0,PM25,SEDANG
3,202504,4,27,DKI5 Kebon Jeruk,31.0,85.0,21.0,12.0,47.0,4.0,85.0,PM25,SEDANG
4,202504,4,28,DKI5 Kebon Jeruk,24.0,78.0,20.0,9.0,37.0,4.0,78.0,PM25,SEDANG

In [32]:
ISPU3_not_null = ISPU3_not_null.replace('-', np.nan)
ISPU3_not_null.isnull().sum()

periode_data     0
bulan            0
tanggal          0
stasiun          0
pm10            74
pm25            33
so2             44
co              32
o3              34
no2             40
max              2
critical        16
kategori         0
dtype: int64

In [33]:
ISPU3_not_null = ISPU3_not_null.dropna(subset=kolom_penting)
ISPU3_not_null.isnull().sum()

periode_data     0
bulan            0
tanggal          0
stasiun          0
pm10             0
pm25            15
so2              0
co               0
o3               0
no2              0
max              0
critical         3
kategori         0
dtype: int64

In [34]:
ISPU4

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori
0,201001,2010-01-19,DKI2 (Kelapa Gading),---,---,---,---,---,0,NaN,TIDAK ADA DATA
1,201001,2010-01-20,DKI2 (Kelapa Gading),---,---,---,---,---,0,NaN,TIDAK ADA DATA
2,201001,2010-01-21,DKI2 (Kelapa Gading),---,---,---,---,---,0,NaN,TIDAK ADA DATA
3,201001,2010-01-22,DKI2 (Kelapa Gading),---,---,---,---,---,0,NaN,TIDAK ADA DATA
4,201001,2010-01-23,DKI2 (Kelapa Gading),---,---,---,---,---,0,NaN,TIDAK ADA DATA
...,...,...,...,...,...,...,...,...,...,...,...
1820,201012,2010-12-27,DKI5 (Kebon Jeruk),---,---,---,---,---,0,NaN,TIDAK ADA DATA
1821,201012,2010-12-28,DKI5 (Kebon Jeruk),---,---,---,---,---,0,NaN,TIDAK ADA DATA
1822,201012,2010-12-29,DKI5 (Kebon Jeruk),---,---,---,---,---,0,NaN,TIDAK ADA DATA
1823,201012,2010-12-30,DKI5 (Kebon Jeruk),---,---,---,---,---,0,NaN,TIDAK ADA DATA
1824,201012,2010-12-31,DKI5 (Kebon Jeruk),---,---,---,---,---,0,NaN,TIDAK ADA DATA

In [35]:
ISPU4 = ISPU4.replace('---', np.nan)
ISPU4.head()

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori
0,201001,2010-01-19,DKI2 (Kelapa Gading),NaN,NaN,NaN,NaN,NaN,0,NaN,TIDAK ADA DATA
1,201001,2010-01-20,DKI2 (Kelapa Gading),NaN,NaN,NaN,NaN,NaN,0,NaN,TIDAK ADA DATA
2,201001,2010-01-21,DKI2 (Kelapa Gading),NaN,NaN,NaN,NaN,NaN,0,NaN,TIDAK ADA DATA
3,201001,2010-01-22,DKI2 (Kelapa Gading),NaN,NaN,NaN,NaN,NaN,0,NaN,TIDAK ADA DATA
4,201001,2010-01-23,DKI2 (Kelapa Gading),NaN,NaN,NaN,NaN,NaN,0,NaN,TIDAK ADA DATA

In [36]:
kolom_penting = [
    'pm10',
    'so2',
    'co',
    'o3',
    'no2'
]

ISPU4_not_null = ISPU4.dropna(subset=kolom_penting)

ISPU4_not_null.head()

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori
47,201002,2010-02-02,DKI1 (Bunderan HI),50,4,30,23,12,50,PM10,BAIK
48,201002,2010-02-03,DKI1 (Bunderan HI),49,7,33,57,23,57,O3,SEDANG
49,201002,2010-02-04,DKI1 (Bunderan HI),59,9,38,75,26,75,O3,SEDANG
50,201002,2010-02-05,DKI1 (Bunderan HI),63,7,39,41,23,63,PM10,SEDANG
51,201002,2010-02-06,DKI1 (Bunderan HI),65,8,59,24,15,65,PM10,SEDANG

In [37]:
ISPU4_not_null.shape

(467, 11)

In [38]:
ISPU5.head()

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201105,2011-05-01,71,18,54,88,31,88,O3,SEDANG,DKI1
1,201105,2011-05-02,61,19,35,98,29,98,O3,SEDANG,DKI4
2,201105,2011-05-03,69,22,31,69,28,69,PM10,SEDANG,DKI1
3,201105,2011-05-04,63,18,26,47,17,63,PM10,SEDANG,DKI4
4,201105,2011-05-05,76,17,28,63,20,76,PM10,SEDANG,DKI4

In [39]:
ISPU5.shape

(365, 11)

In [40]:
ISPU5 = ISPU5.replace('---', np.nan)

In [41]:
ISPU5 = ISPU5.replace('---', np.nan)
ISPU5_not_null = ISPU5.dropna(subset=kolom_penting)
ISPU5_not_null

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201105,2011-05-01,71,18,54,88,31,88,O3,SEDANG,DKI1
1,201105,2011-05-02,61,19,35,98,29,98,O3,SEDANG,DKI4
2,201105,2011-05-03,69,22,31,69,28,69,PM10,SEDANG,DKI1
3,201105,2011-05-04,63,18,26,47,17,63,PM10,SEDANG,DKI4
4,201105,2011-05-05,76,17,28,63,20,76,PM10,SEDANG,DKI4
...,...,...,...,...,...,...,...,...,...,...,...
360,201111,2011-11-26,79,19,33,126,15,126,O3,TIDAK SEHAT,DKI2
361,201111,2011-11-27,74,12,23,133,13,133,O3,TIDAK SEHAT,DKI2
362,201111,2011-11-28,134,27,35,159,26,159,O3,TIDAK SEHAT,DKI2
363,201111,2011-11-29,91,23,32,104,19,104,O3,TIDAK SEHAT,DKI2
364,201111,2011-11-30,75,20,28,164,20,164,O3,TIDAK SEHAT,DKI2

In [42]:
ISPU6.head()

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201201,2012-01-01,52,18,39,63,7,63,O3,SEDANG,DKI2
1,201201,2012-01-02,49,22,28,55,11,55,O3,SEDANG,DKI2
2,201201,2012-01-03,65,15,42,86,22,86,O3,SEDANG,DKI1
3,201201,2012-01-04,69,20,55,97,20,97,O3,SEDANG,DKI1
4,201201,2012-01-05,67,14,39,157,25,157,O3,TIDAK SEHAT,DKI2

In [43]:
ISPU6 = ISPU6.replace('---', np.nan)
ISPU6_not_null = ISPU6.dropna(subset=kolom_penting)
ISPU6_not_null

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201201,2012-01-01,52,18,39,63,7,63,O3,SEDANG,DKI2
1,201201,2012-01-02,49,22,28,55,11,55,O3,SEDANG,DKI2
2,201201,2012-01-03,65,15,42,86,22,86,O3,SEDANG,DKI1
3,201201,2012-01-04,69,20,55,97,20,97,O3,SEDANG,DKI1
4,201201,2012-01-05,67,14,39,157,25,157,O3,TIDAK SEHAT,DKI2
...,...,...,...,...,...,...,...,...,...,...,...
361,201211,2012-11-26,58,34,40,203,18,203,O3,SANGAT TIDAK SEHAT,DKI2
362,201211,2012-11-27,84,37,52,215,18,215,O3,SANGAT TIDAK SEHAT,DKI2
363,201211,2012-11-28,62,30,47,227,16,227,O3,SANGAT TIDAK SEHAT,DKI2
364,201211,2012-11-29,69,32,49,218,22,218,O3,SANGAT TIDAK SEHAT,DKI2
365,201211,2012-11-30,76,30,76,137,22,137,O3,TIDAK SEHAT,DKI2

In [44]:
ISPU7.head()

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201301,2013-01-01,75,4,27,135,10,135,O3,TIDAK SEHAT,DKI2
1,201301,2013-01-02,35,4,26,192,8,192,O3,TIDAK SEHAT,DKI2
2,201301,2013-01-03,61,5,36,195,9,195,O3,TIDAK SEHAT,DKI2
3,201301,2013-01-04,39,4,13,210,10,210,O3,SANGAT TIDAK SEHAT,DKI2
4,201301,2013-01-05,53,5,14,111,8,111,O3,TIDAK SEHAT,DKI2

In [45]:
ISPU7.isnull().sum()

periode_data    0
tanggal         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
categori        0
lokasi_spku     0
dtype: int64

In [46]:
ISPU7.shape

(365, 11)

In [47]:
ISPU7 = ISPU7.replace('---', np.nan)
ISPU7_not_null = ISPU7.dropna(subset=kolom_penting)
ISPU7_not_null

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201301,2013-01-01,75,4,27,135,10,135,O3,TIDAK SEHAT,DKI2
1,201301,2013-01-02,35,4,26,192,8,192,O3,TIDAK SEHAT,DKI2
2,201301,2013-01-03,61,5,36,195,9,195,O3,TIDAK SEHAT,DKI2
3,201301,2013-01-04,39,4,13,210,10,210,O3,SANGAT TIDAK SEHAT,DKI2
4,201301,2013-01-05,53,5,14,111,8,111,O3,TIDAK SEHAT,DKI2
...,...,...,...,...,...,...,...,...,...,...,...
360,201312,2013-12-27,72,10,61,71,17,72,PM10,SEDANG,DKI4
361,201312,2013-12-28,67,7,50,65,11,67,PM10,SEDANG,DKI4
362,201312,2013-12-29,53,8,21,63,12,63,O3,SEDANG,DKI4
363,201312,2013-12-30,41,10,26,67,12,67,O3,SEDANG,DKI4
364,201312,2013-12-31,28,6,26,69,13,69,O3,SEDANG,DKI4

In [48]:
ISPU8.head()

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori
0,201401,2014-01-01,DKI1 (Bunderan HI),77,3,39,54,13,77,PM10,SEDANG
1,201401,2014-01-02,DKI1 (Bunderan HI),55,4,29,58,12,58,O3,SEDANG
2,201401,2014-01-03,DKI1 (Bunderan HI),60,5,40,68,13,68,O3,SEDANG
3,201401,2014-01-04,DKI1 (Bunderan HI),55,7,30,56,14,56,O3,SEDANG
4,201401,2014-01-05,DKI1 (Bunderan HI),39,4,18,48,10,48,O3,BAIK

In [49]:
ISPU8.isnull().sum()

periode_data     0
tanggal          0
stasiun          0
pm10             0
so2              0
co               0
o3               0
no2              0
max              0
critical        34
categori         0
dtype: int64

In [50]:
ISPU8.shape

(1825, 11)

In [51]:
ISPU8 = ISPU8.replace('---', np.nan)
ISPU8_not_null = ISPU8.dropna(subset=kolom_penting)
ISPU8_not_null

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori
0,201401,2014-01-01,DKI1 (Bunderan HI),77,3,39,54,13,77,PM10,SEDANG
1,201401,2014-01-02,DKI1 (Bunderan HI),55,4,29,58,12,58,O3,SEDANG
2,201401,2014-01-03,DKI1 (Bunderan HI),60,5,40,68,13,68,O3,SEDANG
3,201401,2014-01-04,DKI1 (Bunderan HI),55,7,30,56,14,56,O3,SEDANG
4,201401,2014-01-05,DKI1 (Bunderan HI),39,4,18,48,10,48,O3,BAIK
...,...,...,...,...,...,...,...,...,...,...,...
1820,201412,2014-12-27,DKI5 (Kebon Jeruk),16,3,10,3,8,16,PM10,BAIK
1821,201412,2014-12-28,DKI5 (Kebon Jeruk),19,3,24,3,9,24,CO,BAIK
1822,201412,2014-12-29,DKI5 (Kebon Jeruk),11,3,8,3,3,11,PM10,BAIK
1823,201412,2014-12-30,DKI5 (Kebon Jeruk),18,3,8,3,4,18,PM10,BAIK
1824,201412,2014-12-31,DKI5 (Kebon Jeruk),14,3,5,3,2,14,PM10,BAIK

In [52]:
ISPU9.head()

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201505,2015-05-19,84,18,31,105,19,105,O3,TIDAK SEHAT,DKI3
1,201505,2015-05-20,83,18,30,97,22,97,O3,SEDANG,DKI3
2,201505,2015-05-21,87,18,32,84,19,87,PM10,SEDANG,DKI4
3,201505,2015-05-22,85,19,27,90,17,90,O3,SEDANG,DKI5
4,201505,2015-05-23,93,22,36,90,18,93,PM10,SEDANG,DKI4

In [53]:
ISPU9.shape

(365, 11)

In [54]:
ISPU9 = ISPU9.replace('---', np.nan)

In [55]:
ISPU9.isnull().sum()

periode_data    0
tanggal         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
categori        0
lokasi_spku     0
dtype: int64

In [56]:
ISPU9_not_null = ISPU9.dropna(subset=kolom_penting)
ISPU9_not_null

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201505,2015-05-19,84,18,31,105,19,105,O3,TIDAK SEHAT,DKI3
1,201505,2015-05-20,83,18,30,97,22,97,O3,SEDANG,DKI3
2,201505,2015-05-21,87,18,32,84,19,87,PM10,SEDANG,DKI4
3,201505,2015-05-22,85,19,27,90,17,90,O3,SEDANG,DKI5
4,201505,2015-05-23,93,22,36,90,18,93,PM10,SEDANG,DKI4
...,...,...,...,...,...,...,...,...,...,...,...
360,201509,2015-09-26,77,34,28,68,18,77,PM10,SEDANG,DKI1
361,201509,2015-09-27,80,32,22,78,13,80,PM10,SEDANG,DKI4
362,201509,2015-09-28,76,30,25,94,19,94,O3,SEDANG,DKI3
363,201509,2015-09-29,105,31,30,69,20,105,PM10,TIDAK SEHAT,DKI4
364,201509,2015-09-30,92,33,25,67,23,92,PM10,SEDANG,DKI4

In [57]:
ISPU10.head()

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori
0,201602,2016-02-12,DKI2 (Kelapa Gading),41,3,24,35,15,41,PM10,BAIK
1,201602,2016-02-13,DKI2 (Kelapa Gading),73,16,47,72,23,73,PM10,SEDANG
2,201602,2016-02-14,DKI2 (Kelapa Gading),62,21,24,86,15,86,O3,SEDANG
3,201602,2016-02-15,DKI2 (Kelapa Gading),55,9,29,63,12,63,O3,SEDANG
4,201602,2016-02-16,DKI2 (Kelapa Gading),50,6,22,31,14,50,PM10,BAIK

In [58]:
ISPU10.isnull().sum()

periode_data     0
tanggal          0
stasiun          0
pm10             0
so2              0
co               0
o3               0
no2              0
max              0
critical        37
categori         0
dtype: int64

In [59]:
ISPU10_not_null = ISPU10.replace('---', np.nan)

In [60]:
ISPU10_not_null.isnull().sum()

periode_data      0
tanggal           0
stasiun           0
pm10            128
so2              75
co               88
o3              107
no2             117
max               0
critical         37
categori          0
dtype: int64

In [61]:
ISPU10_not_null = ISPU10_not_null.dropna(subset=kolom_penting)
ISPU10_not_null.isnull().sum()

periode_data    0
tanggal         0
stasiun         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
categori        0
dtype: int64

In [62]:
ISPU11.head()

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori
0,201701,2017-01-27,DKI5 (Kebon Jeruk),5,11,29,37,14,37,O3,BAIK
1,201701,2017-01-28,DKI5 (Kebon Jeruk),5,11,28,42,6,42,O3,BAIK
2,201701,2017-01-29,DKI5 (Kebon Jeruk),6,11,29,26,13,29,CO,BAIK
3,201701,2017-01-30,DKI5 (Kebon Jeruk),7,11,28,41,5,41,O3,BAIK
4,201701,2017-01-31,DKI5 (Kebon Jeruk),6,11,26,42,7,42,O3,BAIK

In [63]:
ISPU11_not_null = ISPU11.replace('---', np.nan)
ISPU11_not_null.isnull().sum()

periode_data      0
tanggal           0
stasiun           0
pm10            115
so2              79
co               95
o3               87
no2              86
max               5
critical         30
categori          0
dtype: int64

In [64]:
ISPU11_not_null = ISPU11_not_null.dropna(subset=kolom_penting)
ISPU11_not_null.isnull().isnull().sum()

periode_data    0
tanggal         0
stasiun         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
categori        0
dtype: int64

In [65]:
ISPU12.head()

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201804,01/04/2018,45,25,17,57,13,57,O3,SEDANG,DKI5
1,201804,02/04/2018,46,27,18,57,19,57,O3,SEDANG,DKI5
2,201804,03/04/2018,50,26,27,80,26,80,O3,SEDANG,DKI5
3,201804,04/04/2018,45,28,20,96,28,96,O3,SEDANG,DKI5
4,201804,05/04/2018,81,37,29,202,18,202,O3,SANGAT TIDAK SEHAT,DKI5

In [66]:
ISPU12_not_null = ISPU12.replace('---',np.nan)

In [67]:
ISPU11_not_null.isnull().sum()

periode_data    0
tanggal         0
stasiun         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
categori        0
dtype: int64

In [68]:
ISPU12.shape

(365, 11)

In [69]:
ISPU13.head()

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201903,2019-03-01,58,19,29,70,15,70,O3,SEDANG,DKI3
1,201903,2019-03-02,50,51,25,62,12,62,O3,SEDANG,DKI3
2,201903,2019-03-03,53,23,22,82,15,82,O3,SEDANG,DKI5
3,201903,2019-03-04,55,22,32,104,22,104,O3,TIDAK SEHAT,DKI3
4,201903,2019-03-05,47,21,28,83,22,83,O3,SEDANG,DKI5

In [70]:
ISPU13_not_null = ISPU13.replace('---', np.nan)
ISPU13_not_null.isnull().sum()

periode_data    0
tanggal         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
categori        0
lokasi_spku     0
dtype: int64

In [71]:
ISPU13.shape

(345, 11)

In [72]:
ISPU14.head()

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,202005,2020-05-01,55,26,21,83,10,83,O3,SEDANG,DKI5
1,202005,2020-05-02,36,22,12,80,9,80,O3,SEDANG,DKI5
2,202005,2020-05-03,65,34,35,49,11,65,PM10,SEDANG,DKI5
3,202005,2020-05-04,53,21,14,75,8,75,O3,SEDANG,DKI5
4,202005,2020-05-05,53,22,18,73,9,73,O3,SEDANG,DKI5

In [73]:
ISPU14_not_null = ISPU14.replace('---', np.nan)
ISPU14_not_null.isnull().sum()

periode_data     0
tanggal          0
pm10             0
so2             13
co               1
o3               0
no2              0
max              0
critical         1
categori         0
lokasi_spku      0
dtype: int64

In [74]:
ISPU14_not_null = ISPU14_not_null.dropna(subset=kolom_penting)
ISPU14_not_null.isnull().sum()

periode_data    0
tanggal         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        1
categori        0
lokasi_spku     0
dtype: int64

ISPU15 masih ada pm25

In [75]:
ISPU15.head()

,periode_data,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
0,202101,2021-01-22,DKI5 (Kebon Jeruk) Jakarta Barat,45,NaN,21,13,40,15,45,PM10,BAIK
1,202101,2021-01-23,DKI5 (Kebon Jeruk) Jakarta Barat,80,NaN,22,44,44,22,80,PM10,SEDANG
2,202101,2021-01-24,DKI5 (Kebon Jeruk) Jakarta Barat,27,NaN,14,9,29,---,29,CO,BAIK
3,202101,2021-01-25,DKI5 (Kebon Jeruk) Jakarta Barat,55,NaN,19,29,67,13,67,CO,SEDANG
4,202101,2021-01-26,DKI5 (Kebon Jeruk) Jakarta Barat,57,NaN,21,23,36,16,57,PM10,SEDANG

In [76]:
ISPU15_not_null = ISPU15.replace('---', np.nan)
ISPU15_not_null.isnull().sum()

periode_data      0
tanggal           0
stasiun           0
pm10             68
pm25            100
so2             114
co               36
o3               68
no2              35
max               0
critical         16
categori          1
dtype: int64

In [77]:
ISPU15_not_null = ISPU15_not_null.dropna(subset=kolom_penting)
ISPU15_not_null.isnull().sum()

periode_data     0
tanggal          0
stasiun          0
pm10             0
pm25            68
so2              0
co               0
o3               0
no2              0
max              0
critical         0
categori         1
dtype: int64

In [78]:
ISPU15_not_null

,periode_data,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
0,202101,2021-01-22,DKI5 (Kebon Jeruk) Jakarta Barat,45,NaN,21,13,40,15,45,PM10,BAIK
1,202101,2021-01-23,DKI5 (Kebon Jeruk) Jakarta Barat,80,NaN,22,44,44,22,80,PM10,SEDANG
3,202101,2021-01-25,DKI5 (Kebon Jeruk) Jakarta Barat,55,NaN,19,29,67,13,67,CO,SEDANG
4,202101,2021-01-26,DKI5 (Kebon Jeruk) Jakarta Barat,57,NaN,21,23,36,16,57,PM10,SEDANG
7,202101,2021-01-29,DKI5 (Kebon Jeruk) Jakarta Barat,30,NaN,22,10,32,11,32,CO,BAIK
...,...,...,...,...,...,...,...,...,...,...,...,...
1820,202112,2021-12-30,DKI2 (Kelapa Gading),47,64,38,13,38,35,64,PM25,SEDANG
1821,202112,2021-12-31,DKI2 (Kelapa Gading),61,85,33,23,37,44,85,PM25,SEDANG
1822,202112,2021-12-01,DKI3 (Jagakarsa),53,70,43,12,32,15,70,PM25,SEDANG
1823,202112,2021-12-02,DKI3 (Jagakarsa),35,55,42,7,29,9,55,PM25,SEDANG
1824,202112,2021-12-03,DKI3 (Jagakarsa),54,67,43,9,32,11,67,PM25,SEDANG

ISPU16 ada pm 2.5

In [79]:
ISPU16.head()

,periode_data,tanggal,pm_10,pm_duakomalima,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,202212,44926.625,54,73,56,24,23,24,73,"PM2,5",SEDANG,DKI4
1,202212,2022-12-30,40,64,57,21,17,24,64,"PM2,5",SEDANG,DKI4
2,202207,2022-07-06,75,129,45,25,71,26,129,"PM2,5",TIDAK SEHAT,DKI4
3,202207,2022-07-05,66,110,47,16,61,23,110,"PM2,5",TIDAK SEHAT,DKI4
4,202207,2022-07-04,56,78,49,11,60,13,78,"PM2,5",SEDANG,DKI4

In [80]:
ISPU16_not_null = ISPU16.replace('---', np.nan)

In [81]:
ISPU16_not_null.isnull().sum()

periode_data      0
tanggal           0
pm_10             0
pm_duakomalima    0
so2               0
co                0
o3                0
no2               0
max               0
critical          1
categori          0
lokasi_spku       0
dtype: int64

# Samakan Tanggal

In [147]:
# tanggal
ISPU1_not_null['tanggal'] = pd.to_datetime(ISPU1_not_null['tanggal'], errors='coerce')

In [137]:
ISPU2_not_null['tanggal'] = pd.to_datetime(
    {
        'year': 2024,
        'month': ISPU2_not_null['bulan'],
        'day': ISPU2_not_null['tanggal']
    }
)

In [139]:
ISPU2_not_null.drop(columns=['bulan'], inplace=True)

In [140]:
ISPU2_not_null.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1687 entries, 0 to 1798
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  1687 non-null   int64
 1   tanggal       1687 non-null   datetime64[ns]
 2   stasiun       1687 non-null   object
 3   pm10          1687 non-null   float64
 4   pm25          1680 non-null   float64
 5   so2           1687 non-null   float64
 6   co            1687 non-null   float64
 7   o3            1687 non-null   float64
 8   no2           1687 non-null   float64
 9   max           1687 non-null   float64
 10  critical      1687 non-null   object
 11  kategori      1687 non-null   object
dtypes: datetime64[ns](1), float64(7), int64(1), object(3)
memory usage: 171.3+ KB

In [143]:
ISPU3_not_null

,periode_data,bulan,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,kategori
0,202504,4,24,DKI5 Kebon Jeruk,16.0,50.0,18.0,3.0,16.0,4.0,50.0,PM25,BAIK
1,202504,4,25,DKI5 Kebon Jeruk,23.0,81.0,19.0,9.0,24.0,3.0,81.0,PM25,SEDANG
2,202504,4,26,DKI5 Kebon Jeruk,30.0,77.0,20.0,11.0,29.0,3.0,77.0,PM25,SEDANG
3,202504,4,27,DKI5 Kebon Jeruk,31.0,85.0,21.0,12.0,47.0,4.0,85.0,PM25,SEDANG
4,202504,4,28,DKI5 Kebon Jeruk,24.0,78.0,20.0,9.0,37.0,4.0,78.0,PM25,SEDANG
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209,202508,8,30,DKI3 Jagakarsa,21.0,59.0,53.0,8.0,23.0,46.0,59.0,PM25,SEDANG
1210,202508,8,31,DKI3 Jagakarsa,28.0,60.0,53.0,8.0,19.0,39.0,60.0,PM25,SEDANG
1211,202508,8,1,DKI4 Lubang Buaya,63.0,89.0,30.0,7.0,28.0,16.0,89.0,PM25,SEDANG
1212,202508,8,2,DKI4 Lubang Buaya,73.0,105.0,31.0,11.0,25.0,21.0,105.0,PM25,TIDAK SEHAT
1214,202508,8,4,DKI4 Lubang Buaya,63.0,84.0,27.0,14.0,26.0,26.0,84.0,PM25,SEDANG

In [144]:
ISPU3_not_null['tanggal'] = pd.to_datetime(
    {
        'year': 2025,
        'month': ISPU3_not_null['bulan'],
        'day': ISPU3_not_null['tanggal']
    }
)

In [145]:
ISPU3_not_null.drop(columns=['bulan'], inplace=True)

In [146]:
ISPU3_not_null.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1096 entries, 0 to 1214
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  1096 non-null   int64
 1   tanggal       1096 non-null   datetime64[ns]
 2   stasiun       1096 non-null   object
 3   pm10          1096 non-null   float64
 4   pm25          1081 non-null   float64
 5   so2           1096 non-null   float64
 6   co            1096 non-null   float64
 7   o3            1096 non-null   float64
 8   no2           1096 non-null   float64
 9   max           1096 non-null   float64
 10  critical      1096 non-null   object
 11  kategori      1096 non-null   object
dtypes: datetime64[ns](1), float64(7), int64(1), object(3)
memory usage: 111.3+ KB

In [148]:
# tanggal
ISPU4_not_null['tanggal'] = pd.to_datetime(ISPU4_not_null['tanggal'], errors='coerce')

/tmp/ipython-input-1343887346.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ISPU4_not_null['tanggal'] = pd.to_datetime(ISPU4_not_null['tanggal'], errors='coerce')

In [149]:
ISPU4_not_null.info()

<class 'pandas.core.frame.DataFrame'>
Index: 467 entries, 47 to 1786
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  467 non-null    int64
 1   tanggal       467 non-null    datetime64[ns]
 2   stasiun       467 non-null    object
 3   pm10          467 non-null    float64
 4   so2           467 non-null    float64
 5   co            467 non-null    float64
 6   o3            467 non-null    float64
 7   no2           467 non-null    float64
 8   max           467 non-null    float64
 9   critical      467 non-null    object
 10  categori      467 non-null    object
dtypes: datetime64[ns](1), float64(6), int64(1), object(3)
memory usage: 59.9+ KB

In [150]:
# tanggal
ISPU5_not_null['tanggal'] = pd.to_datetime(ISPU5_not_null['tanggal'], errors='coerce')

In [151]:
# tanggal
ISPU6_not_null['tanggal'] = pd.to_datetime(ISPU6_not_null['tanggal'], errors='coerce')

In [152]:
# tanggal
ISPU7_not_null['tanggal'] = pd.to_datetime(ISPU7_not_null['tanggal'], errors='coerce')

In [153]:
# tanggal
ISPU8_not_null['tanggal'] = pd.to_datetime(ISPU8_not_null['tanggal'], errors='coerce')

/tmp/ipython-input-672994599.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ISPU8_not_null['tanggal'] = pd.to_datetime(ISPU8_not_null['tanggal'], errors='coerce')

In [154]:
# tanggal
ISPU9_not_null['tanggal'] = pd.to_datetime(ISPU9_not_null['tanggal'], errors='coerce')

In [155]:
# tanggal
ISPU10_not_null['tanggal'] = pd.to_datetime(ISPU10_not_null['tanggal'], errors='coerce')

In [156]:
# tanggal
ISPU11_not_null['tanggal'] = pd.to_datetime(ISPU11_not_null['tanggal'], errors='coerce')

In [157]:
# tanggal
ISPU12_not_null['tanggal'] = pd.to_datetime(ISPU12_not_null['tanggal'], errors='coerce')

In [158]:
# tanggal
ISPU13_not_null['tanggal'] = pd.to_datetime(ISPU13_not_null['tanggal'], errors='coerce')

In [159]:
# tanggal
ISPU14_not_null['tanggal'] = pd.to_datetime(ISPU14_not_null['tanggal'], errors='coerce')

In [160]:
# tanggal
ISPU15_not_null['tanggal'] = pd.to_datetime(ISPU15_not_null['tanggal'], errors='coerce')

In [161]:
# tanggal
ISPU16_not_null['tanggal'] = pd.to_datetime(ISPU16_not_null['tanggal'], errors='coerce')

/tmp/ipython-input-2138671525.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ISPU16_not_null['tanggal'] = pd.to_datetime(ISPU16_not_null['tanggal'], errors='coerce')

In [162]:
ISPU16_not_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   periode_data    365 non-null    int64
 1   tanggal         364 non-null    datetime64[ns]
 2   pm_10           365 non-null    int64
 3   pm_duakomalima  365 non-null    int64
 4   so2             365 non-null    float64
 5   co              365 non-null    float64
 6   o3              365 non-null    float64
 7   no2             365 non-null    float64
 8   max             365 non-null    float64
 9   critical        364 non-null    object
 10  categori        365 non-null    object
 11  lokasi_spku     365 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(3), object(3)
memory usage: 34.3+ KB

# Samakan Tipe Data

In [82]:
kolom_numerik_pm25 = [c for c in kolom_numerik_pm25 if c in ISPU1_not_null.columns]

ISPU1_not_null[kolom_numerik_pm25] = (
    ISPU1_not_null[kolom_numerik_pm25]
    .apply(pd.to_numeric, errors='coerce')
    .astype('float64')
)

In [83]:
ISPU1_not_null.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1536 entries, 0 to 1824
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  1536 non-null   int64
 1   tanggal       1536 non-null   object
 2   stasiun       1536 non-null   object
 3   pm10          1536 non-null   float64
 4   pm25          1286 non-null   float64
 5   so2           1536 non-null   float64
 6   co            1535 non-null   float64
 7   o3            1535 non-null   float64
 8   no2           1536 non-null   float64
 9   max           1536 non-null   float64
 10  critical      1536 non-null   object
 11  kategori      1536 non-null   object
dtypes: float64(7), int64(1), object(4)
memory usage: 156.0+ KB

In [84]:
kolom_numerik_pm25 = [c for c in kolom_numerik_pm25 if c in ISPU2_not_null.columns]

ISPU2_not_null[kolom_numerik_pm25] = (
    ISPU2_not_null[kolom_numerik_pm25]
    .apply(pd.to_numeric, errors='coerce')
    .astype('float64')
)

In [85]:
kolom_numerik_pm25 = [c for c in kolom_numerik_pm25 if c in ISPU3_not_null.columns]

ISPU3_not_null[kolom_numerik_pm25] = (
    ISPU3_not_null[kolom_numerik_pm25]
    .apply(pd.to_numeric, errors='coerce')
    .astype('float64')
)

In [86]:
kolom_numerik = [c for c in kolom_numerik if c in ISPU4_not_null.columns]

ISPU4_not_null[kolom_numerik] = (
    ISPU4_not_null[kolom_numerik]
    .apply(pd.to_numeric, errors='coerce')
    .astype('float64')
)

/tmp/ipython-input-1362876964.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ISPU4_not_null[kolom_numerik] = (

In [87]:
ISPU4_not_null.info()

<class 'pandas.core.frame.DataFrame'>
Index: 467 entries, 47 to 1786
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  467 non-null    int64
 1   tanggal       467 non-null    object
 2   stasiun       467 non-null    object
 3   pm10          467 non-null    float64
 4   so2           467 non-null    float64
 5   co            467 non-null    float64
 6   o3            467 non-null    float64
 7   no2           467 non-null    float64
 8   max           467 non-null    float64
 9   critical      467 non-null    object
 10  categori      467 non-null    object
dtypes: float64(6), int64(1), object(4)
memory usage: 59.9+ KB

In [88]:
kolom_numerik = [c for c in kolom_numerik if c in ISPU5_not_null.columns]

ISPU5_not_null[kolom_numerik] = (
    ISPU5_not_null[kolom_numerik]
    .apply(pd.to_numeric, errors='coerce')
    .astype('float64')
)

In [89]:
kolom_numerik = [c for c in kolom_numerik if c in ISPU6_not_null.columns]

ISPU6_not_null[kolom_numerik] = (
    ISPU6_not_null[kolom_numerik]
    .apply(pd.to_numeric, errors='coerce')
    .astype('float64')
)

In [90]:
kolom_numerik = [c for c in kolom_numerik if c in ISPU7_not_null.columns]

ISPU7_not_null[kolom_numerik] = (
    ISPU7_not_null[kolom_numerik]
    .apply(pd.to_numeric, errors='coerce')
    .astype('float64')
)

In [91]:
kolom_numerik = [c for c in kolom_numerik if c in ISPU8_not_null.columns]

ISPU8_not_null[kolom_numerik] = (
    ISPU8_not_null[kolom_numerik]
    .apply(pd.to_numeric, errors='coerce')
    .astype('float64')
)

/tmp/ipython-input-3080424766.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ISPU8_not_null[kolom_numerik] = (

In [92]:
kolom_numerik = [c for c in kolom_numerik if c in ISPU9_not_null.columns]

ISPU9_not_null[kolom_numerik] = (
    ISPU9_not_null[kolom_numerik]
    .apply(pd.to_numeric, errors='coerce')
    .astype('float64')
)

In [93]:
kolom_numerik = [c for c in kolom_numerik if c in ISPU10_not_null.columns]

ISPU10_not_null[kolom_numerik] = (
    ISPU10_not_null[kolom_numerik]
    .apply(pd.to_numeric, errors='coerce')
    .astype('float64')
)

In [94]:
kolom_numerik = [c for c in kolom_numerik if c in ISPU11_not_null.columns]

ISPU11_not_null[kolom_numerik] = (
    ISPU11_not_null[kolom_numerik]
    .apply(pd.to_numeric, errors='coerce')
    .astype('float64')
)

In [95]:
kolom_numerik = [c for c in kolom_numerik if c in ISPU12_not_null.columns]

ISPU12_not_null[kolom_numerik] = (
    ISPU12_not_null[kolom_numerik]
    .apply(pd.to_numeric, errors='coerce')
    .astype('float64')
)

In [96]:
kolom_numerik = [c for c in kolom_numerik if c in ISPU13_not_null.columns]

ISPU13_not_null[kolom_numerik] = (
    ISPU13_not_null[kolom_numerik]
    .apply(pd.to_numeric, errors='coerce')
    .astype('float64')
)

In [97]:
kolom_numerik = [c for c in kolom_numerik if c in ISPU14_not_null.columns]

ISPU14_not_null[kolom_numerik] = (
    ISPU14_not_null[kolom_numerik]
    .apply(pd.to_numeric, errors='coerce')
    .astype('float64')
)

In [98]:
kolom_numerik_pm25 = [c for c in kolom_numerik_pm25 if c in ISPU15_not_null.columns]

ISPU15_not_null[kolom_numerik_pm25] = (
    ISPU15_not_null[kolom_numerik_pm25]
    .apply(pd.to_numeric, errors='coerce')
    .astype('float64')
)

In [99]:
kolom_numerik_pm25 = [c for c in kolom_numerik_pm25 if c in ISPU16_not_null.columns]

ISPU16_not_null[kolom_numerik_pm25] = (
    ISPU16_not_null[kolom_numerik_pm25]
    .apply(pd.to_numeric, errors='coerce')
    .astype('float64')
)

# Clean category

In [164]:
ISPU1_not_null.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1536 entries, 0 to 1824
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  1536 non-null   int64
 1   tanggal       1536 non-null   datetime64[ns]
 2   stasiun       1536 non-null   object
 3   pm10          1536 non-null   float64
 4   pm25          1286 non-null   float64
 5   so2           1536 non-null   float64
 6   co            1535 non-null   float64
 7   o3            1535 non-null   float64
 8   no2           1536 non-null   float64
 9   max           1536 non-null   float64
 10  critical      1536 non-null   object
 11  kategori      1536 non-null   object
dtypes: datetime64[ns](1), float64(7), int64(1), object(3)
memory usage: 188.3+ KB

In [165]:
kolom_kategori = [c for c in kolom_kategori if c in ISPU1_not_null.columns]

for col in kolom_kategori:
    ISPU1_not_null[col] = (
        ISPU1_not_null[col]
        .astype(str)
        .str.strip()
        .str.upper()
    )

ISPU1_not_null[kolom_kategori] = ISPU1_not_null[kolom_kategori].astype('category')

In [167]:
ISPU2_not_null.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1687 entries, 0 to 1798
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  1687 non-null   int64
 1   tanggal       1687 non-null   datetime64[ns]
 2   stasiun       1687 non-null   object
 3   pm10          1687 non-null   float64
 4   pm25          1680 non-null   float64
 5   so2           1687 non-null   float64
 6   co            1687 non-null   float64
 7   o3            1687 non-null   float64
 8   no2           1687 non-null   float64
 9   max           1687 non-null   float64
 10  critical      1687 non-null   object
 11  kategori      1687 non-null   object
dtypes: datetime64[ns](1), float64(7), int64(1), object(3)
memory usage: 171.3+ KB

In [168]:
ISPU3_not_null.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1096 entries, 0 to 1214
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  1096 non-null   int64
 1   tanggal       1096 non-null   datetime64[ns]
 2   stasiun       1096 non-null   object
 3   pm10          1096 non-null   float64
 4   pm25          1081 non-null   float64
 5   so2           1096 non-null   float64
 6   co            1096 non-null   float64
 7   o3            1096 non-null   float64
 8   no2           1096 non-null   float64
 9   max           1096 non-null   float64
 10  critical      1096 non-null   object
 11  kategori      1096 non-null   object
dtypes: datetime64[ns](1), float64(7), int64(1), object(3)
memory usage: 111.3+ KB

In [169]:
ISPU4_not_null.info()

<class 'pandas.core.frame.DataFrame'>
Index: 467 entries, 47 to 1786
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  467 non-null    int64
 1   tanggal       467 non-null    datetime64[ns]
 2   stasiun       467 non-null    object
 3   pm10          467 non-null    float64
 4   so2           467 non-null    float64
 5   co            467 non-null    float64
 6   o3            467 non-null    float64
 7   no2           467 non-null    float64
 8   max           467 non-null    float64
 9   critical      467 non-null    object
 10  categori      467 non-null    object
dtypes: datetime64[ns](1), float64(6), int64(1), object(3)
memory usage: 59.9+ KB

In [170]:
ISPU5_not_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  365 non-null    int64
 1   tanggal       365 non-null    datetime64[ns]
 2   pm10          365 non-null    float64
 3   so2           365 non-null    float64
 4   co            365 non-null    float64
 5   o3            365 non-null    float64
 6   no2           365 non-null    float64
 7   max           365 non-null    float64
 8   critical      365 non-null    object
 9   categori      365 non-null    object
 10  lokasi_spku   365 non-null    object
dtypes: datetime64[ns](1), float64(6), int64(1), object(3)
memory usage: 31.5+ KB

In [171]:
ISPU5_not_null.rename(columns={'lokasi_spku': 'stasiun'}, inplace=True)

In [172]:
ISPU6_not_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  366 non-null    int64
 1   tanggal       366 non-null    datetime64[ns]
 2   pm10          366 non-null    float64
 3   so2           366 non-null    float64
 4   co            366 non-null    float64
 5   o3            366 non-null    float64
 6   no2           366 non-null    float64
 7   max           366 non-null    float64
 8   critical      366 non-null    object
 9   categori      366 non-null    object
 10  lokasi_spku   366 non-null    object
dtypes: datetime64[ns](1), float64(6), int64(1), object(3)
memory usage: 31.6+ KB

# Data Tanpa PM2.5

In [100]:
ISPU1_not_null.head()

,periode_data,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,kategori
0,202302,2023-02-25,DKI5 Kebon Jeruk Jakarta Barat,35.0,NaN,13.0,12.0,31.0,18.0,35.0,PM10,BAIK
1,202302,2023-02-26,DKI5 Kebon Jeruk Jakarta Barat,23.0,NaN,14.0,9.0,32.0,11.0,32.0,O3,BAIK
2,202302,2023-02-27,DKI5 Kebon Jeruk Jakarta Barat,20.0,NaN,13.0,8.0,33.0,13.0,33.0,O3,BAIK
3,202302,2023-02-28,DKI5 Kebon Jeruk Jakarta Barat,30.0,NaN,21.0,11.0,28.0,18.0,30.0,PM10,BAIK
4,202303,2023-03-01,DKI1 Bunderan HI,38.0,44.0,50.0,8.0,19.0,27.0,50.0,3,BAIK

In [101]:
ISPU1_tanpa25 = ISPU1_not_null.drop(columns=['pm25'])

In [102]:
ISPU1_tanpa25['critical'].unique()

array(['PM10', 'O3', '3', '2', '1', '5', 'SO2', 'PM25'], dtype=object)

In [103]:
ISPU1_tanpa25

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,kategori
0,202302,2023-02-25,DKI5 Kebon Jeruk Jakarta Barat,35.0,13.0,12.0,31.0,18.0,35.0,PM10,BAIK
1,202302,2023-02-26,DKI5 Kebon Jeruk Jakarta Barat,23.0,14.0,9.0,32.0,11.0,32.0,O3,BAIK
2,202302,2023-02-27,DKI5 Kebon Jeruk Jakarta Barat,20.0,13.0,8.0,33.0,13.0,33.0,O3,BAIK
3,202302,2023-02-28,DKI5 Kebon Jeruk Jakarta Barat,30.0,21.0,11.0,28.0,18.0,30.0,PM10,BAIK
4,202303,2023-03-01,DKI1 Bunderan HI,38.0,50.0,8.0,19.0,27.0,50.0,3,BAIK
...,...,...,...,...,...,...,...,...,...,...,...
1820,202311,2023-11-26,DKI5 Kebon Jeruk,48.0,33.0,21.0,44.0,20.0,71.0,PM25,SEDANG
1821,202311,2023-11-27,DKI5 Kebon Jeruk,51.0,32.0,18.0,53.0,19.0,76.0,PM25,SEDANG
1822,202311,2023-11-28,DKI5 Kebon Jeruk,56.0,33.0,20.0,48.0,21.0,88.0,PM25,SEDANG
1823,202311,2023-11-29,DKI5 Kebon Jeruk,56.0,32.0,18.0,56.0,18.0,88.0,PM25,SEDANG
1824,202311,2023-11-30,DKI5 Kebon Jeruk,30.0,32.0,15.0,61.0,17.0,61.0,O3,SEDANG

In [104]:
ISPU2_not_null

,periode_data,bulan,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,kategori
0,202401,1,21,DKI3 Jagakarsa,51.0,65.0,45.0,9.0,8.0,79.0,79.0,NaN,SEDANG
1,202401,1,22,DKI3 Jagakarsa,27.0,34.0,45.0,5.0,8.0,56.0,56.0,NaN,SEDANG
3,202401,1,24,DKI3 Jagakarsa,46.0,65.0,46.0,8.0,9.0,38.0,65.0,PM25,SEDANG
4,202401,1,25,DKI3 Jagakarsa,37.0,55.0,47.0,7.0,11.0,28.0,55.0,PM25,SEDANG
5,202401,1,26,DKI3 Jagakarsa,43.0,62.0,50.0,7.0,15.0,14.0,62.0,PM25,SEDANG
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1794,202412,12,27,DKI4 Lubang Buaya,44.0,29.0,21.0,11.0,17.0,14.0,44.0,PM10,BAIK
1795,202412,12,28,DKI4 Lubang Buaya,50.0,33.0,23.0,9.0,20.0,13.0,50.0,PM10,BAIK
1796,202412,12,29,DKI4 Lubang Buaya,53.0,37.0,23.0,12.0,19.0,14.0,53.0,PM10,SEDANG
1797,202412,12,30,DKI4 Lubang Buaya,39.0,19.0,22.0,7.0,22.0,11.0,39.0,PM10,BAIK
1798,202412,12,31,DKI4 Lubang Buaya,27.0,15.0,21.0,6.0,18.0,8.0,27.0,PM10,BAIK

In [105]:

# 1. Daftar kolom polutan (yang tersedia)
polutan_cols = ['pm10', 'pm25', 'co', 'o3', 'so2', 'no2']
polutan_cols = [c for c in polutan_cols if c in ISPU2_not_null.columns]

# 2. Pastikan kolom polutan numerik
ISPU2_not_null[polutan_cols] = ISPU2_not_null[polutan_cols].apply(
    pd.to_numeric, errors='coerce'
)

# 3. Isi critical HANYA jika masih NaN
mask = ISPU2_not_null['critical'].isna()

ISPU2_not_null.loc[mask, 'critical'] = ISPU2_not_null.loc[mask, polutan_cols].idxmax(axis=1)

In [106]:
ISPU2_tanpa25 = ISPU2_not_null.drop(columns=['pm25'])

In [107]:
ISPU2_tanpa25.isnull().sum()

periode_data    0
bulan           0
tanggal         0
stasiun         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
kategori        0
dtype: int64

In [108]:
ISPU3_not_null

,periode_data,bulan,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,kategori
0,202504,4,24,DKI5 Kebon Jeruk,16.0,50.0,18.0,3.0,16.0,4.0,50.0,PM25,BAIK
1,202504,4,25,DKI5 Kebon Jeruk,23.0,81.0,19.0,9.0,24.0,3.0,81.0,PM25,SEDANG
2,202504,4,26,DKI5 Kebon Jeruk,30.0,77.0,20.0,11.0,29.0,3.0,77.0,PM25,SEDANG
3,202504,4,27,DKI5 Kebon Jeruk,31.0,85.0,21.0,12.0,47.0,4.0,85.0,PM25,SEDANG
4,202504,4,28,DKI5 Kebon Jeruk,24.0,78.0,20.0,9.0,37.0,4.0,78.0,PM25,SEDANG
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209,202508,8,30,DKI3 Jagakarsa,21.0,59.0,53.0,8.0,23.0,46.0,59.0,PM25,SEDANG
1210,202508,8,31,DKI3 Jagakarsa,28.0,60.0,53.0,8.0,19.0,39.0,60.0,PM25,SEDANG
1211,202508,8,1,DKI4 Lubang Buaya,63.0,89.0,30.0,7.0,28.0,16.0,89.0,PM25,SEDANG
1212,202508,8,2,DKI4 Lubang Buaya,73.0,105.0,31.0,11.0,25.0,21.0,105.0,PM25,TIDAK SEHAT
1214,202508,8,4,DKI4 Lubang Buaya,63.0,84.0,27.0,14.0,26.0,26.0,84.0,PM25,SEDANG

In [109]:
ISPU3_not_null = ISPU3_not_null.dropna(subset=['pm25', 'critical'], how='all')

In [110]:
ISPU3_not_null.isnull().sum()

periode_data     0
bulan            0
tanggal          0
stasiun          0
pm10             0
pm25            15
so2              0
co               0
o3               0
no2              0
max              0
critical         3
kategori         0
dtype: int64

In [111]:

# 1. Daftar kolom polutan (yang tersedia)
polutan_cols = ['pm10', 'pm25', 'co', 'o3', 'so2', 'no2']
polutan_cols = [c for c in polutan_cols if c in ISPU3_not_null.columns]

# 2. Pastikan kolom polutan numerik
ISPU3_not_null[polutan_cols] = ISPU3_not_null[polutan_cols].apply(
    pd.to_numeric, errors='coerce'
)

# 3. Isi critical HANYA jika masih NaN
mask = ISPU3_not_null['critical'].isna()

ISPU3_not_null.loc[mask, 'critical'] = ISPU3_not_null.loc[mask, polutan_cols].idxmax(axis=1)

In [112]:
ISPU3_not_null.isnull().sum()

periode_data     0
bulan            0
tanggal          0
stasiun          0
pm10             0
pm25            15
so2              0
co               0
o3               0
no2              0
max              0
critical         0
kategori         0
dtype: int64

In [113]:
ISPU3_tanpa25 = ISPU3_not_null.drop(columns=['pm25'])

In [114]:
ISPU4_not_null

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori
47,201002,2010-02-02,DKI1 (Bunderan HI),50.0,4.0,30.0,23.0,12.0,50.0,PM10,BAIK
48,201002,2010-02-03,DKI1 (Bunderan HI),49.0,7.0,33.0,57.0,23.0,57.0,O3,SEDANG
49,201002,2010-02-04,DKI1 (Bunderan HI),59.0,9.0,38.0,75.0,26.0,75.0,O3,SEDANG
50,201002,2010-02-05,DKI1 (Bunderan HI),63.0,7.0,39.0,41.0,23.0,63.0,PM10,SEDANG
51,201002,2010-02-06,DKI1 (Bunderan HI),65.0,8.0,59.0,24.0,15.0,65.0,PM10,SEDANG
...,...,...,...,...,...,...,...,...,...,...,...
1775,201012,2010-12-13,DKI4 (Lubang Buaya),67.0,2.0,18.0,43.0,7.0,67.0,PM10,SEDANG
1776,201012,2010-12-14,DKI4 (Lubang Buaya),82.0,3.0,27.0,33.0,11.0,82.0,PM10,SEDANG
1784,201012,2010-12-22,DKI4 (Lubang Buaya),55.0,1.0,9.0,29.0,7.0,55.0,PM10,SEDANG
1785,201012,2010-12-23,DKI4 (Lubang Buaya),59.0,2.0,18.0,27.0,6.0,59.0,PM10,SEDANG
1786,201012,2010-12-24,DKI4 (Lubang Buaya),54.0,3.0,20.0,122.0,13.0,122.0,O3,TIDAK SEHAT

In [115]:
ISPU4_not_null.isnull().sum()

periode_data    0
tanggal         0
stasiun         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
categori        0
dtype: int64

In [116]:
ISPU5_not_null

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201105,2011-05-01,71.0,18.0,54.0,88.0,31.0,88.0,O3,SEDANG,DKI1
1,201105,2011-05-02,61.0,19.0,35.0,98.0,29.0,98.0,O3,SEDANG,DKI4
2,201105,2011-05-03,69.0,22.0,31.0,69.0,28.0,69.0,PM10,SEDANG,DKI1
3,201105,2011-05-04,63.0,18.0,26.0,47.0,17.0,63.0,PM10,SEDANG,DKI4
4,201105,2011-05-05,76.0,17.0,28.0,63.0,20.0,76.0,PM10,SEDANG,DKI4
...,...,...,...,...,...,...,...,...,...,...,...
360,201111,2011-11-26,79.0,19.0,33.0,126.0,15.0,126.0,O3,TIDAK SEHAT,DKI2
361,201111,2011-11-27,74.0,12.0,23.0,133.0,13.0,133.0,O3,TIDAK SEHAT,DKI2
362,201111,2011-11-28,134.0,27.0,35.0,159.0,26.0,159.0,O3,TIDAK SEHAT,DKI2
363,201111,2011-11-29,91.0,23.0,32.0,104.0,19.0,104.0,O3,TIDAK SEHAT,DKI2
364,201111,2011-11-30,75.0,20.0,28.0,164.0,20.0,164.0,O3,TIDAK SEHAT,DKI2

In [117]:
ISPU5_not_null.isnull().sum()

periode_data    0
tanggal         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
categori        0
lokasi_spku     0
dtype: int64

In [118]:
ISPU6_not_null

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201201,2012-01-01,52.0,18.0,39.0,63.0,7.0,63.0,O3,SEDANG,DKI2
1,201201,2012-01-02,49.0,22.0,28.0,55.0,11.0,55.0,O3,SEDANG,DKI2
2,201201,2012-01-03,65.0,15.0,42.0,86.0,22.0,86.0,O3,SEDANG,DKI1
3,201201,2012-01-04,69.0,20.0,55.0,97.0,20.0,97.0,O3,SEDANG,DKI1
4,201201,2012-01-05,67.0,14.0,39.0,157.0,25.0,157.0,O3,TIDAK SEHAT,DKI2
...,...,...,...,...,...,...,...,...,...,...,...
361,201211,2012-11-26,58.0,34.0,40.0,203.0,18.0,203.0,O3,SANGAT TIDAK SEHAT,DKI2
362,201211,2012-11-27,84.0,37.0,52.0,215.0,18.0,215.0,O3,SANGAT TIDAK SEHAT,DKI2
363,201211,2012-11-28,62.0,30.0,47.0,227.0,16.0,227.0,O3,SANGAT TIDAK SEHAT,DKI2
364,201211,2012-11-29,69.0,32.0,49.0,218.0,22.0,218.0,O3,SANGAT TIDAK SEHAT,DKI2
365,201211,2012-11-30,76.0,30.0,76.0,137.0,22.0,137.0,O3,TIDAK SEHAT,DKI2

In [119]:
ISPU6_not_null.isnull().sum()

periode_data    0
tanggal         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
categori        0
lokasi_spku     0
dtype: int64

In [120]:
ISPU7_not_null

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201301,2013-01-01,75.0,4.0,27.0,135.0,10.0,135.0,O3,TIDAK SEHAT,DKI2
1,201301,2013-01-02,35.0,4.0,26.0,192.0,8.0,192.0,O3,TIDAK SEHAT,DKI2
2,201301,2013-01-03,61.0,5.0,36.0,195.0,9.0,195.0,O3,TIDAK SEHAT,DKI2
3,201301,2013-01-04,39.0,4.0,13.0,210.0,10.0,210.0,O3,SANGAT TIDAK SEHAT,DKI2
4,201301,2013-01-05,53.0,5.0,14.0,111.0,8.0,111.0,O3,TIDAK SEHAT,DKI2
...,...,...,...,...,...,...,...,...,...,...,...
360,201312,2013-12-27,72.0,10.0,61.0,71.0,17.0,72.0,PM10,SEDANG,DKI4
361,201312,2013-12-28,67.0,7.0,50.0,65.0,11.0,67.0,PM10,SEDANG,DKI4
362,201312,2013-12-29,53.0,8.0,21.0,63.0,12.0,63.0,O3,SEDANG,DKI4
363,201312,2013-12-30,41.0,10.0,26.0,67.0,12.0,67.0,O3,SEDANG,DKI4
364,201312,2013-12-31,28.0,6.0,26.0,69.0,13.0,69.0,O3,SEDANG,DKI4

In [121]:
ISPU7_not_null.isnull().sum()

periode_data    0
tanggal         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
categori        0
lokasi_spku     0
dtype: int64

In [122]:
ISPU8_not_null.isnull().sum()

periode_data    0
tanggal         0
stasiun         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
categori        0
dtype: int64

In [123]:
ISPU9_not_null.isnull().sum()

periode_data    0
tanggal         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
categori        0
lokasi_spku     0
dtype: int64

In [124]:
ISPU10_not_null.isnull().sum()

periode_data    0
tanggal         0
stasiun         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
categori        0
dtype: int64

In [125]:
ISPU11_not_null.isnull().sum()

periode_data    0
tanggal         0
stasiun         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
categori        0
dtype: int64

In [126]:
ISPU12_not_null.isnull().sum()

periode_data    0
tanggal         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
categori        0
lokasi_spku     0
dtype: int64

In [127]:
ISPU13_not_null.isnull().sum()

periode_data    0
tanggal         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        0
categori        0
lokasi_spku     0
dtype: int64

In [128]:
ISPU14_not_null.isnull().sum()

periode_data    0
tanggal         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        1
categori        0
lokasi_spku     0
dtype: int64

In [129]:
ISPU14_not_null

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,202005,2020-05-01,55.0,26.0,21.0,83.0,10.0,83.0,O3,SEDANG,DKI5
1,202005,2020-05-02,36.0,22.0,12.0,80.0,9.0,80.0,O3,SEDANG,DKI5
2,202005,2020-05-03,65.0,34.0,35.0,49.0,11.0,65.0,PM10,SEDANG,DKI5
3,202005,2020-05-04,53.0,21.0,14.0,75.0,8.0,75.0,O3,SEDANG,DKI5
4,202005,2020-05-05,53.0,22.0,18.0,73.0,9.0,73.0,O3,SEDANG,DKI5
...,...,...,...,...,...,...,...,...,...,...,...
361,202010,2020-10-27,52.0,54.0,17.0,34.0,30.0,70.0,PM25,SEDANG,DKI4
362,202010,2020-10-28,66.0,54.0,29.0,32.0,33.0,89.0,PM25,SEDANG,DKI5
363,202010,2020-10-29,57.0,55.0,15.0,35.0,26.0,87.0,PM25,SEDANG,DKI4
364,202010,2020-10-30,63.0,55.0,18.0,34.0,19.0,108.0,PM25,TIDAK SEHAT,DKI4
365,202010,2020-10-31,45.0,55.0,15.0,29.0,20.0,72.0,NaN,SEDANG,0

In [130]:
ISPU15_not_null.isnull().sum()

periode_data     0
tanggal          0
stasiun          0
pm10             0
pm25            68
so2              0
co               0
o3               0
no2              0
max              1
critical         0
categori         1
dtype: int64

In [131]:
ISPU16_not_null.isnull().sum()

periode_data      0
tanggal           0
pm_10             0
pm_duakomalima    0
so2               0
co                0
o3                0
no2               0
max               0
critical          1
categori          0
lokasi_spku       0
dtype: int64